RPC_URL_LOCAL=http://127.0.0.1:8545
CHAIN_ID_LOCAL=31337
PRIVATE_KEY_LOCAL=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80

RPC_URL_DEVNET=https://devnet.neonevm.org
CHAIN_ID_DEVNET=245022926

RPC_URL_MAINNET=https://neon-proxy-mainnet.solana.p2p.org
CHAIN_ID_MAINNET=245022934

PRIVATE_KEY=0xYOUR_PRIVATE_KEY
VERIFIER_URL_BLOCKSCOUT=https://neon-devnet.blockscout.com/api
